.todo-list {
	flex-grow: 1;
	min-height: 5rem;
	max-height: calc(100vh - 4rem);
	height: fit-content;
	overflow: auto;
}
.todo-list {
	.input {
		margin: 0 auto;
		padding: 0.75rem 0.5rem;
		width: 75%;
		font-size: 1.3rem;
	}
}

.todo-list-container {
	h4 {
		text-align: center;
		font-style: italic;
		overflow: auto;
	}
}

.todo-item {
	margin: 0 auto;
	padding: 0.2rem 0.3rem;
	display: flex;
	&:hover {
		color: var(--grey-light);
		.edit-icon,
		.delete-icon,
		.star-icon {
			color: var(--grey-light);
		}
	}
	.check-icon {
		margin: auto 0.5rem;
	}
	.check-finished {
		color: green;
	}
	p {
		flex-grow: 1;
		font-weight: 700;
		font-size: 1.3rem;
		width: 75%;
		word-wrap: break-word;
	}
	.todo-item-icons {
		margin: auto 0.5rem auto 0;
	}
	.todo-item-icons > * {
		margin-left: 0.5rem;
	}
	.edit-icon {
		color: var(--grey);
		&:hover {
			color: var(--aqua);
		}
	}
	.delete-icon {
		color: var(--grey);
		&:hover {
			color: var(--red-light);
		}
	}
	.star-icon {
		color: var(--grey);
		&:hover {
			color: var(--yellow);
		}
	}
	.important {
		color: var(--yellow) !important;
		&:hover {
			color: var(--grey);
		}
	}
}

.todo-finished {
	p {
		color: var(--grey-dark);
		text-decoration: line-through;
		&:hover {
			color: var(--grey-light);
		}
	}
	.todo-item-icons {
		svg {
			color: var(--grey-dark);
		}
	}
	.check-icon:hover ~ p {
		color: var(--grey-light);
	}
}

/* XXX                                         MEDIA QUERIES                                               */
//YYY Tablet
@media all and (max-width: 1278px) {
	.todo-list {
		min-height: 100%;
		overflow: auto;
		h1 {
			font-size: 4rem;
		}
	}

	.todo-item:hover > .todo-item-icons > svg {
		color: var(--grey-light);
	}
	.todo-item {
		color: var(--grey-light);
		&:hover {
			color: var(--grey-light);
		}
		.edit-icon,
		.delete-icon,
		.star-icon {
			color: var(--grey-light);
		}
		.important {
			color: var(--yellow) !important;
		}
		.todo-item-icons > .edit-icon:active {
			color: var(--aqua);
		}
		.todo-item-icons > .delete-icon:active {
			color: var(--red-light);
		}
		.todo-item-icons > .star-icon:active {
			color: var(--yellow);
		}
	}

	.todo-finished:hover > .todo-item-icons > svg {
		color: var(--grey-dark);
	}
	.todo-finished {
		p {
			color: var(--grey-dark);
			text-decoration: line-through;
			&:hover {
				color: var(--grey-dark);
			}
		}
		.todo-item-icons {
			svg {
				color: var(--grey-dark);
			}
		}
		.check-icon:hover ~ p {
			color: var(--grey-dark);
		}
		.todo-item-icons > .edit-icon:active {
			color: var(--aqua);
		}
		.todo-item-icons > .delete-icon:active {
			color: var(--red-light);
		}
		.todo-item-icons > .star-icon:active {
			color: var(--yellow);
		}
	}
}

//YYY Mobile
@media all and (max-width: 600px) and (max-height: 900px) {
	.todo-item {
		.todo-item-icons {
			margin: auto 0;
		}
		p {
			width: 70%;
		}
	}
	.todo-item-icons > * {
		width: 23%;
	}
}

@media all and (max-height: 700px) {
	.todo-list {
		h1 {
			font-size: 2rem;
		}
		.input {
			font-size: 1rem;
			margin: 1rem auto;
			padding: 0.3rem 0.5rem;
		}
	}
}
